<% provide(:title, "Contact") %>
<h1>Contact Information</h1>
    <address class="center"> Reach me by email at 
        <a href="mailto:twkeating1@gmail.com?subject=You're%20Hired!">
        twkeating1@gmail.com.</a>
    </address>
