<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="col-md-8" id="feedcolumn">
      <h3>BirdFeed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 top">
        <h1>Short and Sweet</h1>
      </div>
      <div class="col-md-8">
        <div class="image"></div>
      </div>
      <div class="col-md-4 bottom">
        <h3>Writing for our time, not too simple, not too dense, 
        not too brief, not longwinded. All in under 500 words.
        </h3>
      </div>
    </div>
  </div>
 <!--<div class="center jumbotron">
  <h1>BirdPress</h1>
  <h2>CAW!</h2>
  <%= link_to "Get Writing!", signup_path, class: "btn btn-lg btn-primary" %>
 </div>-->
<% end %>

