@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

  body {
    padding-top: 60px; /*padding for the nav-bar */
    .row {
      margin-bottom: 30px;
    }
  }
  
  section {
    overflow: auto; /* automatic scroll on sections that get too large for their
    containers */
  }
  
  textarea {
    resize: vertical; 
  }
  
  .center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }
  }

/* Typography */

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    color: #44271e;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

/* Header */

  .navbar-inverse {
    background-color: white;
    border: none;
    .navbar-nav > li > a {
      color: #44271e;
    }
    .navbar-right {
      margin-right: 0px;
    }
  }
  
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #44271e;
    /* text-transform: uppercase ; */
    letter-spacing: 1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }

/* Header Dropdown */
  .dropdown {
      position: relative;
      display: inline-block;
    .btn .btn-secondary .dropdown-toggle {
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      background-color: lightseagreen
    }
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
      a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }
}
  
  
  
  .dropdown:hover .dropdown-content {
      /*display: block;*/
  }

/* Footer */

.navbar-fixed-bottom {
  /*padding-top: 10px;
  padding-bottom: 10px;*/
  background-color: #4f4133;

  small {
    float: left;
    color: white;
    padding-top: 4px;
    
    &:hover {
        color: lightseagreen;
      }
  }
    
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      a {
        color: white;
      }
    }
  }
}

/* Home */

.col-md-12 {
  //background-color: white;
  width: 100%;
  
  .col-md-4.top {
      float: left;
      background-image: image-url('kaboom_short_and_sweet.jpg');
      background-size: 100%;
      height: 270px;
      margin-bottom: 5px;
     
       h1 {
         text-align: center;
         vertical-align: middle;
         line-height: 225px;
         color: white;
       }
  }
  
  .col-md-8 {
    float: right;
    height: 550px;
    
    .image {
        background-image: image-url('iphone-background-birdpress.jpg');
        background-size: 115%;
        height: 550px;
    }
    
  }
  
  .col-md-4.bottom {
    float: left;
    background-image: image-url('kaboompics_woman_working_with_dog.jpg');
    background-size: 100%;
    height: 270px;
    margin-top: 5px;
    
    h3 {
         text-align: center;
         vertical-align: middle;
         color: white;
       }
  }
  
  h1 {
    color: #4f4133;
  }
  h2 {
    color: cornflowerblue;
  }
  
  .btn {
    background-color: #4f4133;
    border-color: floralwhite;
  }
  
  #feedcolumn {
    padding-bottom: 50px;
  }
}

/* User sidebar */

aside {
  
  section.user_info {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    display: inline-block;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    
    
    .image {
      display: inline-block;
    }
    
    .stats {
      display: inline-block;
      padding-left: 20px;
    }
    
    .profile {
      height: 15px;
    }
    
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* forms */

textarea, select, .uneditable-input {
  border: 1px solid;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  border-color: #4f4133;
}

input {
  height: auto !important;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  border:none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    
    .thumb {
      display: inline-block;
      float: left;
      padding-right: 50px;
    }
    
    .post {
      display: inline-block;
      width: 80%;
    }
    
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    
    .content {
      display: block;
      margin-left: 60px;
      
      img {
        display: block;
        padding: 5px 0;
      }
    }
    
    .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 60px;
    }
    
    .title {
      height: 25px;
      padding-top: 10px;
      margin-bottom: 5px;
      border: none;
    }
  }
  
  span.picture {
    margin-top: 10px;
      input {
        border: none;
      }
    }

}


/* Show Post */
.show_title {
  padding-bottom: 15px;
  font-size: 32px;
  font-weight: bold;
  }


.show_content {
  overflow: auto;
  padding-bottom: 25px;
  #micropost_content {
    height: 300px;
  }
}
.show_image {
      margin: 0 auto;
    width: 50%;
  }


.comment {
  textarea {
    border: none;
    margin-bottom: 0px;
  }
  .btn-primary {
    width: 50%;
    float: right;
  }
}

/* Adding Comments */

#comment_title {
  height: 20px;
  width: 50%;
}

#comment_body {
  height: 60px
}
  
.col-md-8 {
  overflow:auto;
  }

ol.comments {
  height: 500px;
  overflow: auto;
  .user {
    padding-top: 5px;

  }
  a {
    padding-left: inherit;
  }
}


/* Showing Comments */

#comment_section h2 {
  color: black;
  font-size: 1.5em;
  font-weight: 500;
  text-align: inherit;
  margin-bottom: 10px;
} 

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  
  .user {
    padding-bottom: 5px;
  }
  
  .timestamp {
    color: $gray-light;
    display: block;
    margin: auto;
  }
  
  .title {
    margin-bottom: 5px;
    border: none;
  }
  
}



/* Edit Post */

#edit_title {
    textarea {
      height: 25px;
    }
}

/* Micropost Form */

.new_micropost {
  textarea {
    height: 300px;
    margin-bottom: 5px;
  }

  #new_title textarea {
      height: 25px;
    }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users.follow {
  padding: 0;
}


/* Misc. */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
