<!--
This is the footer partial. There's not much going on here. The navbar-fixed-bottom class is from Bootstrap. It's the Word is BirdPress's slogan. The links in the li use Ruby on Rails's link_to keyword to create a set of <a></a> hyperlink tags that link to the About and Contact pages respectively.
-->
<footer class="navbar-fixed-bottom">
  <small>
   It's the Word
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Contact",  contact_path %></li>
    </ul>
  </nav>
</footer>